.sider 
    .inner-menu 
        ul  
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard 
            li 
                a(href=`${prefixAdmin}/products-category`) Products category
            li 
                a(href=`${prefixAdmin}/products`) Products
            li 
                a(href=`${prefixAdmin}/roles`) Roles permission 
            li 
                a(href=`${prefixAdmin}/roles/permissions`) Divide permission 
            li 
                a(href=`${prefixAdmin}/accounts`) Accounts