include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center 
            .col-3  
                .inner-logo 
                    a(href="/")
                        img(src="/images/murtherhelp.jpg",alt="Logo")

            .col-5 
                form(
                    action="/search"
                    metod="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Type key..."
                            class="form-control"
                            name="keyword"
                            value= keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Find
            .col-4  
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Home 
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href= pathProduct) Products
                            if(layoutProductsCategory)
                                +sub-menu(layoutProductsCategory,pathProduct)
                        li 
                            a(href="/cart") Cart (#{miniCart ? miniCart.totalQuantity : "0"})
                        if(user)
                            li 
                                a(href="chat") Chat
                            li 
                                a(href="/user/info") #{user.fullName}
                            li
                                a(href="/user/logout") Log out
                        else
                            li
                                a(href="/user/login") Login
                            li
                                a(href="/user/register") Sign Up 
                        
